<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FamilyPortal.Data.Properties.Settings.FamilyDBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=FamilyDB;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="FamilyPortal.Data.Properties.Settings.FamilyDBConnectionString1"
            connectionString="Data Source=.;Initial Catalog=FamilyDB;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>